    html, body{
        margin: 0;
        height: 100%;
}

    .wrapper{
        height: 95%;
}
.filmtext{
    font-size:  20px;
    text-align: center;
}
 
    #chart-div-right{
        background-color: white;
        width: 97%;
        height: 400px;
        margin-left: 1%;
        margin-right: 2%;
        margin-top: 2%;
        margin-bottom: 2%;
        border-radius: 5px;
        border-style: inset;
        -webkit-box-shadow: 10px 6px 15px -4px rgba(0,0,0,0.42);
        -moz-box-shadow: 10px 6px 15px -4px rgba(0,0,0,0.42);
        box-shadow: 10px 6px 15px -4px rgba(0,0,0,0.42);
}
    #chart-div-left{
        background-color: white;
        width: 97%; 
        height: 400px;
        margin-left: 2%;
        margin-right: 1%;
        margin-top: 2%;
        margin-bottom: 2%;
        border-radius: 5px;
        border-style: inset;
        -webkit-box-shadow: 10px 6px 15px -4px rgba(0,0,0,0.42);
        -moz-box-shadow: 10px 6px 15px -4px rgba(0,0,0,0.42);
        box-shadow: 10px 6px 15px -4px rgba(0,0,0,0.42);
}
    .links-div{
        width: 30%;
        margin-left: 2.5%;
        margin-top: 2%;
        margin-bottom: 2%;
        overflow: hidden;

}

    .single-article > a {
        margin-top: 2%;
        background-color: #333;
        border-radius: 5px;
        color: #9d9d9d;
        display: block;
        height: 25px;
        font-size: 18px;
}

    .single-article > a:hover {
        background-color: #303;
        color: #f0f0f0;
}




    .single-article > article > img{
        width: 90%;
        max-height: auto;
        padding: 4px;
}

    #own-search-div{
        background-color: white;
        width: 97%; 
        height: 400px;
        margin-left: 2%;
        margin-right: 1%;
        margin-top: 2%;
        margin-bottom: 2%;
        border-radius: 5px;
        border-style: inset;
        -webkit-box-shadow: 10px 6px 15px -4px rgba(0,0,0,0.42);
        -moz-box-shadow: 10px 6px 15px -4px rgba(0,0,0,0.42);
        box-shadow: 10px 6px 15px -4px rgba(0,0,0,0.42);
}
    .single-article{
        height: auto;
        width: 100%;
        background-color: #f0f0f0;
        border-radius: 5px;
        -webkit-box-shadow: 10px 6px 15px -4px rgba(0,0,0,0.42);
        -moz-box-shadow: 10px 6px 15px -4px rgba(0,0,0,0.42);
        box-shadow: 10px 6px 15px -4px rgba(0,0,0,0.42);
}

    .hidden{
        display: none;
}
    .show-button{
        width: 100%;
        margin-bottom: 3%;
        margin-top: 5%;
        border-radius: 6px;
        border-color: #f0f0f0;
        background-color: #f0f0f0;
        -webkit-box-shadow: 10px 6px 15px -4px rgba(0,0,0,0.30);
        -moz-box-shadow: 10px 6px 15px -4px rgba(0,0,0,0.30);
        box-shadow: 10px 6px 15px -4px rgba(0,0,0,0.30);
}

    .show-button > a {
        color: #9d9d9d;
}

    .show-button:hover{
        background-color: white;
}

    .title{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2em;

}


    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
        margin-bottom: 0;
        border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {
        height: 450px
}



    /* Set gray background color and 100% height */
    .sidenav {
        padding-top: 20px;
        background-color: #f1f1f1;
        height: 100%;
}
    
    footer {
        clear: both;
        background-color: #333;
        color: #9d9d9d;
        padding: 15px;
}
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
}
    .row.content {height:auto;} 
}
.img-responsive{
    
    width:10%;
}