    html, body{
        margin: 0;
        height: 100%;
}

    .wrapper{
        height: 95%;
}
.filmtext{
    font-size:  20px;
    text-align: center;
}
 
    #chart-div-right{
        background-color: red;
        width: 97%;
        height: 400px;
        margin-left: 1%;
        margin-right: 2%;
        margin-top: 2%;
        margin-bottom: 2%;
}
    #chart-div-left{
        background-color: green;
        width: 97%; 
        height: 400px;
        margin-left: 2%;
        margin-right: 1%;
        margin-top: 2%;
        margin-bottom: 2%;
}
    .links-div{
        background-color: red;
        width: 30%;
        margin-left: 2.5%;
        margin-top: 2%;
        margin-bottom: 2%;
        overflow: hidden;
}

    #own-search-div{
        background-color: green;
        width: 97%; 
        height: 400px;
        margin-left: 2%;
        margin-right: 1%;
        margin-top: 2%;
        margin-bottom: 2%;
}
    .single-article{
        height: 400px;
        width: 100%;
}

    .hidden{
        display: none;
}
    .show-button{
        width: 100%;
        margin-bottom: 1%;
}
    img{
        max-height: 200px;
        padding: 4px;
}
    .title{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2em;

}


    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
        margin-bottom: 0;
        border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {
        height: 450px
}



    /* Set gray background color and 100% height */
    .sidenav {
        padding-top: 20px;
        background-color: #f1f1f1;
        height: 100%;
}
    
    /* Set black background color, white text and some padding */
    footer {
        clear: both;
        background-color: #555;
        color: white;
        padding: 15px;
}
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
}
    .row.content {height:auto;} 
}
